Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Arrows/Projectile_BaseClass.uasset
Content/FirstPersonBP/Blueprints/FirstPersonProjectile.uasset
